{
  margin: 0;
  padding: 0;
}

img {
  height: 100vh;
}
.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  bottom: initial !important;
  background: rgba(0, 0, 0, 0.4);
  max-width: 600px;
  position: absolute !important;
  display: block;margin-left: auto;
  margin-right: auto;
}
